/* Autor: David Pérez Saché */

@font-face {
    font-family: "Roboto";
    src: url("../assets/Roboto/Roboto-Regular.ttf");
}

html {
    width: auto;
    height: auto;
    overflow-y: auto;
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Roboto";
    width: auto;
    height: auto;
    margin: 0 auto;
}

table {
    margin: auto;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
    background-color: #EA983B;
}

form {
    width: 550px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: ghostwhite;
    border: 1px solid #ADACAC;
    border-radius: 15px;
}

select {
    display: block;
    width: 400px;
    background-color: white;
    border: 1px solid #ADACAC;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

input {
    font-family: "Roboto";
}

textarea {
    resize: none;
    font-family: "Roboto";
}

form input[type="text"], 
form input[type="number"], 
form input[type="date"], 
form input[type="file"],
textarea {
    width: 400px;
    padding: 5px;
    margin-bottom: 10px;
    display: block;
    border: 1px solid #ADACAC;
}

fieldset {
    margin: 10px 0;
    background-color: white;
}

form input[type="file"] {
    border: 0;
    width: 275px;
}

::placeholder {
    color: black;
    opacity: 1;
}

img#imgLogo {
    width: 192px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    vertical-align: middle;
}

footer img#imgFooter {
    width: 90px;
    height: 80px;
    display: block;
    margin: auto;
    padding: 10px 0;
}

footer p {
    margin: auto;
    text-align: center;
}

div#divBusqueda {
    display: inline-block;
}

div#divCabecera {
    text-align: center;
    background-color: #EA983B;
    padding-bottom: 5px;
}

div#divBusqueda input {
    height: 28px;
    width: 350px;
    margin-right: 0;
    border: 1px solid #ADACAC;
    border-radius: 0px;
    vertical-align: middle;
}

div#divBusqueda button {
    height: 32px;
    vertical-align: middle;
    background-color: #FFFFFF;
    border: 1px solid #ADACAC;
    border-radius: 0px;
}

button#botonAceptar,
button#botonActualizar {
    color: white;
    font-weight: bolder;
    background-color: green;
}

button#botonCancelar,
button#botonBorrar {
    color: white;
    font-weight: bolder;
    background-color: red;
}

button#botonAceptar:hover,
button#botonActualizar:hover {
    background-color: rgb(0, 95, 0);
}

button#botonCancelar:hover,
button#botonBorrar:hover {
    background-color: rgb(200, 0, 0);
}

div#divBotones {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

div#divBotones button {
    height: 35px;
    background-color: #FFFFFF;
    border: 1px solid #ADACAC;
    margin-right: 15px;
    border-radius: 10px;
}

div#divBotones button:hover {
    background-color: #f3f3f3;
}

div#divBotones button:active {
    background-color: #e9e9e9;
}

label#labelBuscar {
    margin-left: 20px;
}

div#divListado,
div#divAlta,
div#divModificar {
    margin-top: 20px;
    margin-bottom: 180px;
}

p.pAviso{
    display: block;
    text-align: center;
}

p#pTotal {
    text-align: center;
    margin-bottom: 50px;
}

div#divListado p {
    padding-left: 10px;
}

span#spanTotal {
    font-weight: bold;
    color: #a00000;
}

div#divAlta,
div#divModificar {
    margin-top: 70px;
}

div.divBotonesForm {
    text-align: center;
}

div.divBotonesForm button {
    background-color: white;
    border: 1px solid #ADACAC;
    border-radius: 5px;
    padding: 5px;
}

div.divBotonesForm button:hover {
    background-color: #f3f3f3;
}

div.divBotonesForm button:active {
    background-color: #e9e9e9;
}

label.labelCheckbox {
    display: block;
}

span.material-icons {
    vertical-align: middle;
}

div.divItem {
    text-align: center;
    margin-bottom: 30px;
}

div.divItem img {
    width: 256px;
    height: 256px;
    display: block;
    margin: auto;
}

p.pPrecioItem {
    font-weight: bold;
    color: #a00000;
    font-size: larger;
}

p.pNombreItem {
    font-weight: bold;
}

div.divDescItem {
    text-align: justify;
    width: 40%;
    margin: auto;
}

hr.hrItems {
    border: 0;
    height: 1px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(173,172,172,1) 15%, rgba(173,172,172,1) 50%, rgba(173,172,172,1) 85%, rgba(173,172,172,0) 100%);
}

span.spanFecha {
    text-decoration: underline;
}

/* MEDIA QUERY MÓVIL */
@media (max-width:760px) {
    img#imgLogo {
        margin-left: 0;
        margin-bottom: 20px;
    }

    div#divBusqueda {
        display: block;
    }

    div#divBusqueda input {
        width: 80%;
    }

    label#labelBuscar {
        text-align: left;
        margin: 0;
    }

    button#buttonListado {
        margin-left: 5px !important;
    }

    button#buttonModificar {
        margin-right: 5px !important;
    }

    button#buttonListado span,
    button#buttonAlta span,
    button#buttonModificar span {
        display: none;
    }

    div.divDescItem {
        width: 80%;
    }

    form#formAlta,
    form#formModificar {
        width: 80%;
    }

    form input[type="text"], 
    form input[type="number"], 
    form input[type="date"], 
    form input[type="file"],
    select,
    textarea {
        width: 90%;
    }
}

